<% if current_user.email == discussion.nama %>

	<div style="width: 50%; margin-left: 50%;">
		<div class="panel panel-default">

				<div class="panel-body"  style="font-size: 20px;">
					<%= discussion.body %>			 

				</div>
				<div class="panel-footer">
					<small><%= discussion.nama %> replied <span style="float: right;"><%= time_ago_in_words(discussion.created_at) %> ago</span></small>

				</div>
				
		</div>
		<%= link_to "Delete", "/discussion/.#{discussion.id}", method: :delete , class: 'btn-custom2'%>
	</div>

<% else %>
	<div style="width: 50%; ">
		<div class="panel panel-default">

				<div class="panel-body"  style="font-size: 20px;">
					<%= discussion.body %>			 

				</div>
				<div class="panel-footer">
					<small><%= discussion.nama %> replied <span style="float: right;"><%= time_ago_in_words(discussion.created_at) %> ago</span></small>

				</div>
				
		</div>
	</div>

<% end %>
