<style>
	a.ex2:hover, a.ex2:active {font-size: 150%;}

</style>

	<div class="panel panel-default ">
		<a class="ex2 nodekor" href=" /thread.<%= comment.id %> ">
		<div class="panel-body ">
				<h1><%= comment.body %></h1>
		
		</div>
		</a>
		<div class="panel-footer">
			<p>TS : <%= comment.nama %> | <%= time_ago_in_words(comment.created_at) %> ago</p>
		</div>
	</div>


<% if !user_signed_in? %>
<% elsif current_user.email == comment.nama %>
<p><%= link_to "Delete", [comment.book, comment], method: :delete, data: { confirm: 'Are you sure? '}, class: "btn-custom2" %></p>
<% end %>

