<div class="row" style="width: 101%;">
    <div id="contact-area">
    
        <div>
            <div class="container">
                <h2 class="block_title" style="color: white;">Hey !!!</h2>
                <div class="row container">
                    <div class="col-md-6">
                        <div class="moreDetails">
                            <h2 class="con-title normal-txt" align="center">More about this Site</h2>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum animi repudiandae nihil aspernatur repellat temporibus doloremque sint ea laboriosam, excepturi iure </p>
                            <ul class="address">
                                <li> <%= image_tag("location.png", {:style => "width:30px;"}) %><span>Jl. Siliwangi , Cicurug - Kab. Sukabumi</span></li>
                                <li><%= image_tag("email.png", {:style => "width:32px;"}) %><span>standmoenir2613@gmail.com</span></li>
                                <li><%= image_tag("phone.png", {:style => "width:30px;"}) %><span>(+62) 085723660012</span></li>
                                <li><%= image_tag("globe.png", {:style => "width:30px;"}) %><span><%= link_to 'ピメン.ヴィ.ブリタニア', 'https://www.instagram.com/pimenvibritania/',target: "_blank", class: "nodekor btn btn-custom3" %></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6" align="center">
                        <h2 class="con-title normal-txt">Give us your opininion</h2>
                        <form action="http://formspree.io/standmoenir2613@gmail.com" method="post">
                            <div class="form-group">
                                <input type="text" name="Name" class="form-control" id="user_name" placeholder="Enter your name" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="Reply to" class="form-control" id="your_email" placeholder="Enter your email" required>
                            </div>
                            <div class="form-group">
                                <textarea name="Message" id="user_message" class="form-control" rows="5" required></textarea>
                            </div>
                            <button type="submit" value="send" class="btn-custom2">Let us know</button>
                        </form>   
                    </div>
                </div>
            </div><!-- container -->
        </div><!-- contact-area -->

        <div id="social">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="scoialinks">
                            <li class="normal-txt">Find me on</li>
                            <li class="social-icons"><a class="facebook" href="https://www.facebook.com/pimenvibritania" target="_blank"></a></li>
                            <li class="social-icons"><a class="twitter" href="https://twitter.com/pimenvibritania" target="_blank"></a></li>
                            <li class="social-icons"><a class="linkedin" href="https://www.linkedin.com/in/pimen-vibritania-a0a940116/" target="_blank"></a></li>
                            <li class="social-icons"><a class="google-plus" href="https://plus.google.com/u/0/103716046009330316141" target="_blank"></a></li>
                            <li class="social-icons"><a class="wordpress" href="https://pimen1995.wordpress.com" target="_blank"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- social -->
    </div>
</div>
<footer>
    <div class="nodekor" align="center">
        <p class="copyright block_title3">© Copyright 2018 <a href="https://www.instagram.com/pimenvibritania/" target="_blank">ピメン.ヴィ.ブリタニア</a>
        </p>
    </div>
</footer>
        
