<div class="navbar navbar-inverse navbar-fixed-top book-shadow3">
  		<div class="container">
  			<div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button> 
  				<b><%= link_to "| مَكْتَبَتِي |", root_path, class: "navbar-brand ", style: "font-size: 1.4em" %></b>

  			</div>
        <div class="collapse navbar-collapse" id="myNavbar">
    			<ul class="nav navbar-nav navbar-right">
    				<li>
    					<%= link_to " Sign up", new_user_registration_path, class: 'glyphicon glyphicon-user ' %>
    				</li>
    				<% if user_signed_in? %>
    					
    					<li>
    						<%= link_to " Sign Out", destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out' %>
    					</li>
    					<li>
    						<a class="glyphicon glyphicon-eye-open"> <b><%= current_user.email %></b></a>
    					</li>
    				<% else %>
    					<li>
    						<%= link_to " Login",new_user_session_path, class: 'glyphicon glyphicon-log-in' %>
    					</li>
    				<% end %>
    			</ul>
    			
    			<ul class="nav navbar-nav navbar-left">
    				<li class="dropdown">
    					<a href="#" class="dropdown-toggle glyphicon glyphicon-list-alt" data-toggle="dropdown" role="button" aria-expanded="false"> Categories <span class="caret"></span></a>
    					<ul class="dropdown-menu" role="menu"> 
    						<% Category.all.each do |category| %>
    						<li class="<%= 'active' if params[:category] == category.nama %>">
    							<%= link_to category.nama, books_path(category: category.nama), class: "link " %>
    						</li>
    						<% end %>
    						
    					</ul>
    					

    				</li>
    				<% if user_signed_in? %>
    				<li>
    					<%= link_to " Add Book", new_book_path, class: 'glyphicon glyphicon-plus' %>
    				</li>
    				<% end %>
        
    			</ul>
    		</div>
    	</div>
      </div>
<div class="container">
	<% if notice != nil %>
	<div class="alert alert-success" role="alert"><%= notice %> </div>
	<% end %>
	<% if alert != nil %>
	<div class="alert alert-danger" role="alert"><%= alert %></div>
	<% end %>
   
  </div>