<div class="col-md-2"></div>
<div class="col-md-8">
	<div class="signup-form" style="color: white; margin-top: -30px;">
	<%= simple_form_for @book, :html => { :multipart => true } do |f| %>
		<%= select_tag(:category_id, options_for_select(@categories ), :prompt => "Select book category", style: 'color: black') %>
		<br><br>
		<div class="row">
			<div class="col-md-6">
				<p>Upload image here : <%= f.file_field :book_img %></p>
			</div>
			<div class="col-md-6">
				<p>Upload PDF here : <%= f.file_field :document %></p>
			</div>
		</div>
		<%= f.input :title, label: "Book Title" %>
		<%= f.input :author %>
		<%= f.input :tahqiq %>
		<%= f.input :publisher %>
		<%= f.input :volume %>
		<%= f.input :price %>
		<%= f.input :description, label:"Other" %>
		<%= f.input :summary, label: "Summary" %>
		<%= f.input :summaryeng, label: "About this Book" %>
		<div align="center">
			<%= f.button :submit, class: "btn-custom2" %>
		</div>

	<% end %>
</div>
</div>