<div class="container">
	<h1>Edit Book</h1>

	<%= simple_form_for @book, :html => { :multipart => true } do |f| %>
		<%= f.select :category_id, @categories %>
		<br><br>
		<%= f.file_field :book_img %>
		<%= f.file_field :document %>

		<%= f.input :title, label: "Book Title" %>
		<%= f.input :description %>
		<%= f.input :summary, label: "Arabic Summary" %>
		<%= f.input :summaryeng, label: "Summary" %>
		<%= f.input :author %>
		<%= f.button :submit %>

	<% end %>

</div>