<br>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="well well-sm glyphicon glyphicon-tags"> 	Posted by : <%= @user.email %></div>
			<div class="well well-sm glyphicon glyphicon-tags nodekor"> Category : <%= link_to @book.category.nama, books_path(category: @book.category.nama) %></div>
			<div class="book-shadow2" align="center ">
			<div class="average-review-rating" data-score= <%= @average_review %>><h4><b>Average Rating</b></h4></div>
			<span>Based on <%= @book.reviews.count %> reviews</span></div>
			<%= image_tag @book.book_img.url(:book_show), class:"book-show book-shadow3" %><br><br><br>
			<%= link_to "Back to Index", root_path, class: 'btn btn-primary' %>

		</div>

		<div class="col-md-8 konten book-shadow2">
		<h2 align="center"><%= @book.title %></h2>
		<h3 align="left"><%= @book.author %></h3>
		<p align="left"><%= @book.description %></p>
		<h3 align="center">Excerpt of Book</h3>
		<h4 align="center"><%= @book.summary %></h4>
		<h3 align="center">About</h3>
		<h4 style="text-align: justify; text-indent: 50px; letter-spacing: 3px;"><%= @book.summaryeng %></h4>
		</div>
	</div>
	
	<br>
	<% if @book.document_file_name != nil %>
		<div class="konten" style="padding: 5px;">
		<h1 align="center"><b>Read Here</b></h1>
		</div>
		<iframe src="<%= @book.document %>" width="100%" height="650px" frameBorder="0"></iframe>
	<% end %>
	
	
	<% if user_signed_in? %>

	

	<%  if @book.user_id == current_user.id %>

		<%= link_to "Edit", edit_book_path(@book) , class: 'btn btn-primary' %>
		<%= link_to "Delete", book_path(@book), class: 'btn btn-primary', method: :delete, data: { confirm: "Are you sure?"} %>
	<% end %>
	
	<% end %>
	<div class="row">
		
		<div class="col-md-4">
			<!-- buat rate -->
			<h3 align="center">Review</h3>
			<div>
				<%= render @book.reviews %><br>
				<%  if user_signed_in? %>
				<%= link_to "Add Review", new_book_review_path(@book), :class => "btn btn-primary" %>
				<% end %>
			</div>

		</div>
		<div class="col-md-1"></div>
		<div class="col-md-7">
			<h2 align="center">Discussion</h2>
			<h4> <%= @book.comments.count %> Comments </h4>
			<%= render @book.comments %>

			<% if user_signed_in? %>

			<h3>Add a Comments : </h3>
			<%= render 'comments/form' %>
			<% end %>
		</div>
	</div>
	
</div>

<script>
	
	$('.review-rating').raty({

		readOnly: true,
		score: function(){
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});

</script>
<script>
	$('.average-review-rating').raty({

		readOnly: true,
		path: '/assets/',
		score: function(){
			return $(this).attr('data-score');
		},
	});
</script>