<style>
 
 #side
 {

  border: 2px solid rgba(0,0,0,0.4);
  padding: 15px;
  margin: 10px 0;
 }

</style>

<br>

<div class="container">
 <div class="row">
  <div class="col-md-4">
   <div class="well well-sm glyphicon glyphicon-tags">  Posted by : <%= @user.email %></div>
   <div class="well well-sm glyphicon glyphicon-tags nodekor"> Category : <%= link_to @book.category.nama, books_path(category: @book.category.nama) %></div>
   <div class="book-shadow2" align="center ">
   <div class="average-review-rating" data-score= <%= @average_review %>><h4><b>Average Rating</b></h4></div>
   <span>Based on <%= @book.reviews.count %> reviews</span></div>
   <%= image_tag @book.book_img.url(:book_show), class:"book-show", id: "myImg" %>
   <h3 class="book-shadow2" align="center">Price : <b><%= @book.price %></b></h3>
   <br><br><br>
   <%= link_to "Back to Index", root_path, class: 'btn btn-primary' %>
   <% if user_signed_in? %> 

    <%  if @book.user_id == current_user.id %>

     <%= link_to "Edit", edit_book_path(@book) , class: 'btn btn-primary' %>
     <%= link_to "Delete", book_path(@book), class: 'btn btn-primary', method: :delete, data: { confirm: "Are you sure?"} %>
    <% end %>
   <% end %>

  </div>
  <div class="col-md-8 konten book-shadow2">
   <div id="side">
   	<h3 align="center">﷽</h3><br>
    <h2 align="center"><%= @book.title %></h2>
    <h4 align="center"><%= @book.author %></h4>
    <br>
    <p align="center">Tahqiq : <%= @book.tahqiq %> | Publisher : <%= @book.publisher %> | Volume : <%= @book.volume %>
    	<br><%= @book.description %>
    </p>
    <h3 align="center">Excerpt of Book</h3>
    <h4 align="center"><%= @book.summary %></h4>
    <h3 align="center">About this Book</h3>
    <h4 style="text-align: justify; text-indent: 50px; letter-spacing: 3px;"><%= @book.summaryeng %></h4>
   </div>
  </div>
 </div>
 
 <br>
<% if user_signed_in? %> 
	 <% if @book.document_file_name != nil %>
	 <div class="block_title">
	  <button type="button" class="btn btn-custom2" data-toggle="collapse" data-target="#demo" style="width: 30%;">Click Here to  Read</button>
	   <div id="demo" class="collapse">
	    <iframe src="<%= @book.document %>" width="100%" height="650px" frameBorder="0" class="book-shadow3"></iframe>
	   </div>
	 </div>
	 <% else %>
	 <div class="block_title">
	 	<h4 style="color: white;">No PDF here....</h4>
	 </div>
	 
	 <% end %>
<% else %>
	<div align="center">
		<h2 style="color: white;" class="block_title2">Login now, to read PDF file!</h2>
		<%= link_to "LOGIN", new_user_session_path, class: 'btn btn-lg btn-primary'  %>
		
	</div>
<% end %>
<div class="block_title " style="color: white;" id="social">مكتبتي</div>

<div class="row" style="margin-top: -50px;">

  <div class="col-md-4">
    <div class="reviews">
    <!-- buat rate -->
      <h2 align="center" style="color: white;" class="normal-txt2">Review</h2>

      <div>
        <%= render @book.reviews %><br>
        <%  if user_signed_in? %>

       
        <%= link_to "Add Review", new_book_review_path(@book), :class => "btn btn-custom2 " %>
        <% end %>
    

      </div>

    </div>
  </div>

  <div class="col-md-1"></div>

  <div class="col-md-7 reviewsx">
   <h2 align="center" class="desc normal-txt2">Bahtsul Masaail</h2>
    
     <h4 class="desc"> <%= @book.comments.count %> Thread available </h4>
     <%= render @book.comments %>

     <% if user_signed_in? %>
     <div class="block_title3" style="color: white;">Add new thread</div>
     
     <%= render 'comments/form' %>
     <% end %>
    
  </div>

</div>

 <br>
<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">×</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
</div>


<script>
 
 $('.review-rating').raty({

  readOnly: true,
  score: function(){
   return $(this).attr('data-score');
  },
  path: '/assets/'
 });

</script>
<script>
 $('.average-review-rating').raty({

  readOnly: true,
  path: '/assets/',
  score: function(){
   return $(this).attr('data-score');
  },
 });
</script>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
    modal.style.display = "none";
}
</script>
