

<div>
	<div class="container" align="center">
		<h2>WELCOME</h2>
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<form class="form">
		    <%= f.input :email, required: false, autofocus: true %>
		    <%= f.input :password, required: false %>
		    <%= f.button :submit, "Log in", id: "login-button" %>
		<% end %>
		</form>
			<%= render "devise/shared/links" %>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	</div>

</div>



