<div style="color: white;" class="review">
	<b><%= review.nama %></b>
	<div class="review-rating" data-score=" <%= review.rating %> ">
		
	</div>
	<h4><%= review.comment %></h4>  
</div>
<div class="links btn-group" style="float: right;">
<% if user_signed_in? %>
	<% if review.user_id == current_user.id %>

		<%= link_to "Edit", edit_book_review_path(review.book,review), class: "btn btn-custom3" %>
		<%= link_to "Delete", book_review_path(review.book, review), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-custom3" %>
	<% end %>
<% end %>
</div><br>