<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <title>مكتبتي | مجموعة من أوراق العلماء</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
     
     body
     {

     	font-family: mohamed-slama
     }

     h1
     {
     	font-family: mohamed-slama

     }

     h2
     {

     	font-family: mohamed-slama

     }



   
    </style>
  </head>

  <body>
      
      <%= render 'shared/navbar' %>
      <%= yield %>
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>


  </body>
</html>
